<!-- Bootstrap Core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Plugin CSS -->
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
<body>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h1> User Profile </h1>
       <div class="edit_profile">
        <% if current_user == @user %>
        <%= link_to 'Edit your profile', edit_user_path(@user) %>
        <%end %>
        </div>
        <div class="user_profile_name">
          <% if @user.name != nil %>
            <h2><%= "#{@user.name}" %> </h2>
          <% else %>
            <h2><%= "#{@user.email}" %></h2>
          <% end %>
        </div>

        <div class="user_profile_bio">
        <p>
          Bio:
          <% if @user.bio != nil %>
          <%= "#{@user.bio}" %>
          <% end %>
        </p>
        </div>

        <div class="user_profile_address">

          <% if @user.address != nil %>
          <p> Address: <%= "#{@user.address}" %> </p>
          <!--<p> Coordinates: <%= @user.latitude %><%= @user.longitude %></p>-->
          <% end %>
        </div>

        <div class="user_interests_column_display">

          <% if @user.interests != nil %>
          My interests:
          <ul>

          <% @user.interests.each do |i| %>
            <% if i[0] != nil %>
              <li><%= "#{i}" %></li>
            <%end%>
          <% end %>

          </ul>
          <% end %>
        </div>
<!--
      <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@user.latitude},#{@user.longitude}&markers=#{@user.latitude},#{@user.longitude}&zoom=7&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@user.address} on the map"%>

      <div class="user_map_wrapper">
          <div id="map" data-parameter1='<%= @user.latitude %>' data-parameter2='<%= @user.longitude %>'></div>
      </div>-->
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12">
        <h1>CocoServices - Your Helper</h1>
        <p>Carpool</p>
        <p>House Cleaning</p>
        <p>Pool Services</p>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
          <h1>CocoNews</h1>
          Good news!
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <h1>CocoExplore</h1>
          
            <div class="user_map_wrapper">
                <div id="map" data-parameter1='<%= @user.latitude %>' data-parameter2='<%= @user.longitude %>'></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</body>